* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */

.gradient-btn {
  background-image: linear-gradient(25deg, #F7E93F 12%, #FB09B4, #9100F8 78%);
  border: none;
  color: white;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 35px;
  height: 44px;
  width: 135px;
}

.header-style {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  width: 1200px;
  text-align: center;
}

.header-style-2 {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.paragraph_style,
.podcast-card {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.594);
  line-height: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.primary-bg-color {
  background-color: #1A0B2E;
}

.secondary-color {
  color: #00FF88;
  font-size: 3rem;
  font-weight: bold;
}

.width,
.tech-section,
.navbar,
.podcast-section,
.tech-section,
.feature-section,
.footer-section {
  max-width: 1600px;
}

/* header styles */

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  height: 92px;
  gap: 16px;
  justify-content: space-around;
  align-items: center;
  width:100%;
}

.logo-color {
  background: linear-gradient(10deg, #F7E93F 0%, #FB09B4 31%, #9100F8 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-list .nav-links {
  display: flex;
  gap: 32px;
}

.nav-links li {
  display: inline;
  color: white;
}

.fa-solid {
  display: none;
  /* ensures no space */
  border-style: none;
  background-color: none;

}

/* hero section style */

.hero-section {
  background-image: url(./images/hero-circle.png), url(./images/hero-bg.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 350px 350px, cover;
  background-position: center 100px, center;
  height: 760px;
  margin: 0 auto;
  padding: 101px 525px;
}

/* .hero-container {
  width: 522px;
  height: 558px;
  display: grid;
  justify-content: center;
  justify-items: center;
} */

.micorophone-img {
  display: grid;
  justify-content: center;
}


.micro-2 img {
  padding: 85px 116px 97px 116px;
}

.badge {
  width: 75px;
  height: 38px;
  padding: 12px;
  background-color: #00FF88;
  font-weight: 550;
  font-size: 1rem;
  border-style: none;
  border-radius: 24px;
  position: absolute;
  top: 205px;
  right: 640px;
}

/* .hero-content {
  display: grid;
  justify-content: center;
  justify-items: center;
  width: 550px;
} */

.hero-content {
  display: grid;
  justify-content: center;
  text-align: center;
  justify-items: center;
}

.hero-h1 {
  font-size: 3.5rem;
  color: white;
  margin-top: 40px;
}

.hero-btn {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  align-items: center;
}

.subscribe-btn {
  border: 1.2px solid #00FF88;
  cursor: pointer;
  border-radius: 35px;
  height: 44px;
  color: #00FF88;
  padding: 12px 20px 12px 20px;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
  width: 147px;
}

/* podcast section style */
.podcast-section {
  height: 646px;
  padding: 50px 200px 120px 200px;
}

.podcast-container {
  margin: 0 auto;
  max-width: 1200px;
  height: 76px;
  display: grid;
  gap: 160px;
  justify-content: center;
  justify-items: center;
}


.podcast-content p {
  line-height: 2rem;
  height: 148px;
  margin-top: 16px;
}

.podcast-card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  justify-items: center;
  height: 94px;
}

.podcast-card h1 {
  margin-bottom: 24px;
}

/* feature section style */

.tech-section {
  background-color: #230E3D;
  height: 1121px;
  padding: 120px 200px;
  margin: 0 auto;
}

.audio {
  grid-area: Audio;
}

.mobile {
  grid-area: Mobile;
}

.global {
  grid-area: Global;
}

.interview {
  grid-area: Interview;
}

.resource {
  grid-area: Resource;
}

.tech-container {
  width: 1200px;
  height: 783px;
}

.tech-grid {
  margin-top: 40px;
  display: grid;
  gap: 30px;
  width: 1200px;
  grid-template-areas:
    "Audio Mobile Mobile"
    "Audio Global Global"
    "Interview Interview Resource";
}

.tech-card {
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 40px;
}

.audio img {
  padding-top: 108px;
  padding-bottom: 16px;
}

.mobile img,
.global img,
.interview img,
.resource img {
  padding-bottom: 16px;
}

.audio p,
.resource p {
  text-align: left;
  margin-top: 16px;
  line-height: 1.5rem;
  width: 300px;
}

.tech-card p {
  text-align: left;
  margin-top: 16px;
}

/* feature section style */

.feature-section {
  height: 1276px;
  padding: 120px 200px;
  margin: 0 auto;
}

.feature-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.feature-card {
  background-color: #250D44;
  width: 380px;
  height: 440px;
  border-radius: 30px;
  margin-top: 40px;
  overflow: hidden;
}

.time-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 12px 24px 24px 24px;
  text-wrap: nowrap;
  gap: 6px;
  width: 12px;
}

.time-stamp {
  font-size: 1rem;
  font-weight: 500;
}

.feature-card h2 {
  padding-top: 15px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  color: white;
}

.feature-card p {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-align: left;
}

.host-container {
  margin-top: 120px;
}

.host-content-section {
  padding: 40px;
  background-color: rgba(53, 17, 101, 0.4);
  margin-top: 40px;
  border-radius: 40px;
  display: grid;
  gap: 24px;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.host-description {
  width: 896px;
  height: 183px;
}

.host-description h2 {
  color: white;
  margin-bottom: 16px;
}

.host-description p {
  text-align: left;
  width: 896px;
}

.social-media-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  width: 184px;
  margin-top: 16px;
  align-items: center;
}

.fa-gradient-icon {
  background: linear-gradient(70deg, #F7E93F 20%, #FB09B4 41%, #9100F8 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linkedin,
.x,
.instagram,
.youtube {
  border: 1px solid #533C72;
  padding: 10px;
  border-radius: 50px;
}

/* footer style */

.footer-section {
  height: 412px;
  margin: 0 auto;
  padding: 120px;
  background-image: url(./images/footer-bg.png);
  background-repeat: no-repeat;
}

.footer-logo {
  width: 544px;
}

.footer-content {
  display: grid;
  justify-content: center;
}

.footer-content h1 {
  font-size: 4.1rem;
  text-align: center;
}

.logo-div-spotify {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 87px;
  height: 24px;
  align-items: center;
}

.logo-div-apple {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 152px;
  height: 24px;
  align-items: center;
  text-wrap: nowrap;
}

.logo-div-youtube {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 99px;
  height: 24px;
  align-items: center;
  text-wrap: nowrap;
}

.footer-logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 32px;
  gap: 40px;
  margin-bottom: 32px;
}

.podcast-logo h4 {
  width: 120px;
}

.footer-copyright {
  text-align: center;
}


/* mobile device */

@media screen and (max-width:576px) {

  .podcast-section,
  .feature-section {
    visibility: hidden;
  }

  .navbar {
    padding: 12px 25px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 239px;
    height: 60px;
    border-bottom: 1px solid #412567;
    /* width: 100%; */
  }

  .navbar h1,
  .feature-episodes h1,
  .tech-container h1 {
    font-size: 2rem;
  }

  .nav-list,
  .submit {
    display: none;
  }

  .fa-solid {
    display: block;
    /* ensures no space */
    border-style: none;
    background-color: none;

  }

  /* hero section */
  .hero-section {
    background-image: url(./images/hero-circle.png), url(./images/hero-bg.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 200px 200px, cover;
    /* circle smaller */
    background-position: center 50px, center;
    height: 466px;
    padding: 60px 20px;
  }

  .micro-2 img {
    width: 205px;
    height: 205px;
    padding: 50px 76px 76px 76px;
  }

  .badge {
    width: 70px;
    height: 30px;
    padding: 5px 16px;
    background-color: #00FF88;
    font-weight: 550;
    font-size: 1rem;
    border-style: none;
    border-radius: 24px;
    position: absolute !important;
    top: 500px;
    right: 200;
  }

  /* .tech-grid{
    display: grid;
    grid-template-areas: 
    "Audio",
    "Mobile",
    "Global",
    "Interview",
    "Resource";
    justify-content: center;
  } */

  /* 
  .tech-section {
    max-width: 100%;
  } */

  .tech-section {
    padding: 40px 20px;
    width: 100%;
    height: 1450px;
  }

  .tech-container {
    display: grid;
    justify-content: center;
    width: 100%;
  }

  .tech-grid {
    display: grid;
    width: 100%;
    grid-template-areas:
      "Audio "
      "Mobile "
      "Global "
      "Interview "
      "Resource";
    justify-content: center;
    gap: 16px;
  }

  .tech-card {
    width: 500px;
    height: 215px;
  }

  .audio {
    width: 500px;
    height: 287px;
  }

  .interview {
    width: 500px;
    height: 311px;
  }

  .audio img {
    padding-top: 0px;
    padding-bottom: 16px;
  }

  .audio p,
.resource p {
  width: 100%;
}


  .feature-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 1px;
  }

  .feature-episodes h1 {
    width: 100%;
  }

  .time {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    width: 365px;
  }

  .feature-card {
    width: 500px;
  }

  .footer-section {
    padding: 40px 20px 40px 20px;
    height: 248px;
    background-size: cover;
    background-position: center;
  }

  .footer-logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 310px;
    justify-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .footer-content h1 {
    font-size: 2.5rem;
  }

}